@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

html,
body {
	padding: 0;
	margin: auto;

	max-width: 1000px;
	padding: 42px 24px;
}

* {
	font-family: "Slabo 27px", Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	letter-spacing: 0.1em;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

footer {
	text-align: center;
}

h1 {
	max-width: calc(100% - 110px);
	margin: auto;
	line-height: 33px;
}

.img__yt {
	max-width: 200px;
	margin-left: 20px;
	vertical-align: middle;
}
